<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="testnet" value="true"/>
      <add key="address" value="TXFjPSgevKLk1n7Z9TB2uRxDZTDaBjveC1"/>
      <add key="reqConfirmations" value="0"/>
    </appSettings>
</configuration>